@font-face {
    font-family: 'Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../../font/IRANSans-Bold-web.eot'),
        url('../../font/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
        url('../../font/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
        url('../../font/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: normal;
    src: url('../../font/IRANSansWeb(FaNum)_Light.eot'),
        url('../../font/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
        url('../../font/IRANSans-web.woff') format('woff'),
        url('../../font/IRANSans-Light-web.ttf') format('truetype');
}

* {
    font-family: 'iransans';
    direction: rtl;
    font-size: 14px;
}

.main-container {
    background-color: #ddd;

}

.header {
    border: 1px solid #ddd;
    padding: 10px;
}

.menuBar {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    background-color: #fff;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

/* .menuBar ul {
    padding: 5px;
    list-style: none;
    margin-bottom: 0;
 }
 .menuBar ul > li {
    padding: 2px;
    text-align: center;
    width: 25px;
    height: 25px;
}

.menuBar ul > li > a{
}
.menuBar ul > li > a > i{vertical-align: middle;}
.menuBar ul > li:hover{
    background-color: #ddd;
    border-radius: 5px;
}  */
.sideBar {
    display: flex;
}

.main-flax {
    display: flex;
    justify-content: flex-start;
}

.watchingList {
    flex: 1;
    padding: 10px;
    background-color: #fff;
}

.watchingList .setting {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: self-end;
}

.watchingList .setting .left-side {
    display: flex;
    gap: 5px;
    padding: 5px;
    align-items: baseline;
}

.menuBar a {
    padding: 8px;
    margin-bottom: 10px;
    color: #7a7b82;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.menuBar a>i {
    vertical-align: -webkit-baseline-middle;
}

.menuBar a:hover {
    background-color: #ddd6;
    border-radius: 5px;
    color: #7a7b82;
}

.menuBar a:active {
    background-color: #e1edfe;
    border-radius: 5px;
}

.watchingList .setting .left-side .btn-setting ul {
    list-style: none;
    margin-bottom: 0;
    text-align: right;
    padding: 10px;
    border-radius: 0px;
}

/* .watchingList .setting .left-side .btn-setting ul .setting-content {
    display: none;
    position: absolute;
    left: 185px;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
} */
.fas .fa-solid .fa-ellipsis .fa-xl::after {
    content: unset;
}

.btn-setting .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: none !important;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.btn-setting .dropdown-toggle {
    border: none;
    background-color: unset;
    cursor: pointer;
    color: #7a7b82;
}

.watchingList .setting .left-side .btn-setting .setting-content>li>a {
    display: block;
    padding: 10px 5px 10px 40px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #131522;
    white-space: nowrap;
    text-align: right;
    font-size: 16px;
}

.watchingList .setting .left-side .btn-setting .setting-content>li>a:hover,
.watchingList .setting .left-side .btn-setting .setting-content>li>a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.table {

    text-align: right;
}

.table tbody {
    width: 100%;

    text-align: right;
}

.table .main-body .category-dropdown {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    /* border-bottom: 1px solid #dee2e6; */
}

.table-striped tbody tr {
    background-color: #fff !important;
}

.table th,
.table td {
    padding: 5px 0 !important;
    border-top: none !important;
    /* border-bottom: 1px solid #dee2e6; */
}

.hiddenTable .hiddenBody tr>td {
    border-bottom: 1px solid #dee2e6;
}

.main-head tr>th {
    width: 25%;
}

.hiddenTable .hiddenBody tr>td {
    width: 25%;
}

.table-logo-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

/* .hidden-tr {
    border-bottom: 1px solid #dee2e6;
} */
.hidden-tr .hiddenRow {
    padding: 0 !important;
}

.borderBottom {
    border-bottom: 1px solid #dee2e6;

}

.fa-chevron-down {
    padding-left: 5px;
}

/* .custom-switch .custom-control-label::after {
    left: calc(-20rem + 2px) !important;
   
}
.custom-switch .custom-control-label::before {
    left: -20rem !important;
} */

.columns-style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type=checkbox],
input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

label {
    display: block;
}

.setting .btn-group .btn-secondary {
    background-color: transparent;
    color: #000;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.setting .btn-group .btn-secondary:hover,
.setting .btn-group .btn-secondary:active,
.setting .btn-group .btn-secondary.active,

.setting .btn-group .btn-secondary:focus,
.setting .btn-group .btn-secondary.focus,

.setting .btn-group .btn-secondary:focus-visible,
.show>.btn-secondary.dropdown-toggle {
    background-color: #f0f2fa;
    color: #000;
    border: none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    border-color: #ddd !important;

    background-color: #f0f2fa !important;
    color: #000 !important;
    border: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: unset !important;
}

.btn-setting {
    cursor: pointer;
    padding: 8px;
    color: #7a7b82;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: sub;
}

.btn-setting:hover {
    background-color: #f0f2fa;
    color: #000;
    border: none;

}

.btn-add {
    cursor: pointer;
    padding: 8px;
    color: #7a7b82;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: sub;
}

.btn-add:hover {
    background-color: #f0f2fa;
    color: #000;
    border: none;

}

.columns-style label {
    margin: 5px;
    color: #000;
    font-size: 16px;
}

/* /// */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {

    color: #b3b3bb;
    font-weight: 900;
}

.tr-row.hidden {
    display: none;
}

.item-flex-re {
    padding: 5px;
}

/* .item-flex-re i {
    padding: 2px;
} */

.item-flex {
    padding: 5px;
}

.item-flex span {
    padding-right: 60px;
}

.dropdown-item {

    padding: 5px 2px 5px 2px !important;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch-flex label {
    margin: 5px;
    color: #000;
    font-size: 16px;
}

.watchingList .setting .left-side .btn-setting .setting-content>li>a > span {
    padding-left: 5px;
    font-size: 18px;
}
thead.main-head {
    color: #6a6b78;
}

.main-body span ,.main-body i{
    color: #6a6b78;
    font-weight: 900;
}
.mgo td {
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid #dee2e6;
    vertical-align: bottom !important;
}

.item-flex-re >a ,.item-flex >a{
    display: block;
    padding: 10px 5px 10px 40px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #131522;
    white-space: nowrap;
    text-align: right;
    font-size: 16px;
}

.item-flex-re >a >i {
    padding-left: 5px;
    font-size: 18px;
}
.menuBar-first {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    background-color: #fff;
    align-items: center;
    padding: 5px;
}
.menuBar-last {
    padding-bottom: 10PX;
}
/* resizable */

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#app {
  width: 100%;
  height: 100%;

  font-family: Arial, Helvetica, sans-serif;
}

.resizable-x,
.resizable-y {
  display: flex;
  overflow: hidden;
}

.resizable-x {
  height: 100%;
}

.resizable-y {
  flex-direction: column;
}

.resizer-x,
.resizer-y {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  padding: 2px;
}

.resizer-x {
  z-index: 2;
  cursor: col-resize;
}
.resizer-x::before,
.resizer-x::after {
  width: 2px;
  height: 16px;
  margin: 2px;
  background: lightgray;
}

.resizer-y {
  z-index: 1;
  cursor: row-resize;
  flex-direction: column;
}



.div0,
.div1,
.div2 {
  overflow: hidden;
}

.div0 {
  background: #fff;
}

/* .div1 {
  background: pink;
} */

.div2 {
    background: #fff;
}

.div0 p,
.div1 p,
.div2 p {
  font-size: 2rem;
  margin-left: 1em;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.left-dropdown {
    right: -410px !important;
    left: unset !important;
}



/* dark mode */

  /* Styles for light mode */
  body {
    background-color: #fff;
    color: #333;
}

/* Styles for dark mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Toggle switch styles */
.toggle-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
}

.toggle-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    transition: 0.4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.4s;
}

input[type="checkbox"]:checked + .toggle-slider {
    background-color: #2196F3;
}

input[type="checkbox"]:checked + .toggle-slider:before {
    transform: translateX(30px);
}



@media only screen and (max-width: 600px) {
    .left-dropdown {
    
        right: -200px !important;
    }
  }


